<h1>
    <%= title %>
</h1>

<%- messages() %>

    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <form id="registration-form" action="/account/register" method="post">
                <fieldset>
                    <p class="required-info">All fields are required.</p>
                    <label>
                        First name:
                        <input type="text" name="account_firstname" id="accountFirstname" required
                            value="<%= locals.account_firstname %>" />
                    </label>
                    <label>
                        Last name:
                        <input type="text" name="account_lastname" id="accountLastname" required
                            value="<%= locals.account_lastname %>" />
                    </label>
                    <label>
                        Email address:
                        <input type="email" name="account_email" id="accountEmail" required
                            value="<%= locals.account_email %>" />
                    </label>
                    <label>
                        Password:
                        <input type="password" name="account_password" id="input-pass"
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required />
                    </label>
                    <div class="instructions">
                        <p>
                            Your password should have at least 12 characters with atleast 1 number,
                            1 lowercase letter, 1 capital letter and 1 non-alphanumeric character.
                        </p>
                    </div>
                    <div id="check">
                        <p>Show password:</p>
                        <input id="checkbox" type="checkbox" onclick="showPassword()" />
                    </div>
                    <input type="submit" value="REGISTER" class="login-btn" />
                    <h2>Already have an account?<a href="/account/login">Log In</a></h2>
                </fieldset>
            </form>
            <script src="/js/script.js"></script>